@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/typography.css";
@import "./styles/note-detail.css";
@import "./styles/layout.css";
@import "./styles/components.css";
@import "./styles/animations.css";
@import "./styles/day-picker.css";
